<h2>Class Details</h2>
<p>Class Name: <%=@gymclass.class_name%></p>
<p>Class Tier: <%=@gymclass.class_tier.capitalize%></p>
<p>Class Capacity: <%=@gymclass.class_capacity%></p>


<%for member in @members_at_class %>
<p>Attending Member: <%= member.pretty_name %> </p>
<%end%>
<div id="edit-button">
<a href="/gymclasses/<%=@gymclass.id%>/edit">Edit Class</a>
</div>
<form action="/gymclasses/<%=@gymclass.id%>/delete" method="POST"><input type="submit" value="Delete"></form>
