<h2>Edit an Existing Member</h2>
<form method="POST" action ="/members/<%= @member.id %>">
  <div>

    <div class="form-gen">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value="<%= @member.first_name %>"/>
    </div>

    <div class="form-gen">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" value="<%= @member.last_name %>"/>
    </div>

    <div class="form-gen">
      <label for="wallet">Wallet:</label>
      <input type="number" name="wallet" id="wallet" value="<%= @member.wallet %>"/>
    </div>

    <div class="form-gen">
      <label for="member_type">Member Type:</label>
      <input type="text" name="member_type" id="member_type" value="<%= @member.member_type %>"/>
    </div>

    <div class="form-gen">
      <input type="submit" value="Edit Member"/>
    </div>

  </div>
</form>
