<h2>Edit a Booking</h2>

<form action="/bookings/<%=@booking.id %>" method="POST">

  <div class="form-gen">
    <label>Select a Member:
      <select name="member_id">

        <% for member in @members %>
        <% if @booking.member_id.to_i == member.id %>
        <option value="<%= member.id %>" selected ><%= member.pretty_name %></option>
        <% else %>
        <option value="<%= member.id %>" ><%= member.pretty_name %></option>
        <%end%>
        <%end%>

      </select>
    </label>
  </div>

  <div class="form-gen">
    <label>Select a Gym Class:
      <select name="class_id">

        <% for gymclass in @gymclasses %>
        <% if @booking.class_id.to_i == gymclass.id %>
        <option value="<%= gymclass.id %>" selected ><%= gymclass.class_name %></option>
        <% else %>
        <option value="<%= gymclass.id %>" ><%= gymclass.class_name %></option>
        <%end%>
        <%end%>
      </select>
    </label>
  </div>

  <input type="submit" value="Edit Booking">
</form>
